body{
    background-color: bisque;

    display: flex;
    justify-content: center;
    align-self: center;

}

.lonely-div{
    text-align: center;
    align-content: center;
}

body{
    display: block;
}